<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="Stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="height: 70px;">
        <a class="navbar-brand" href="#" style="color: aliceblue;font-size: 20px ">HR Buddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="" style="color: aliceblue;font-size: 20px  ">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://ems-env.eba-prmhxq3q.us-west-2.elasticbeanstalk.com/crud" style="color: aliceblue;font-size: 20px ">CRUD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://ems-env.eba-prmhxq3q.us-west-2.elasticbeanstalk.com/pricing" style="color: aliceblue;font-size: 20px ">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://ems-env.eba-prmhxq3q.us-west-2.elasticbeanstalk.com/dashboard" style="color: aliceblue;font-size: 20px ">Dashboard</a>
                </li>

            </ul>
        </div>
    </nav>


<section >
    <form th:action="@{/register}" th:object="${user}" method="post" >
        <div form-row>


        <div class="form-group col-md-6" style="border: black">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" name="Name" size="20">

        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="text" class="form-control" id="exampleInputEmail" name="Email" size="4">
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="exampleInputCity" name="city" size="20">
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputCountry" class="form-label">Country</label>
            <input type="text" class="form-control" id="exampleInputCountry" name="country" size="20">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPhone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="exampleInputPhone" name="Phone" size="20">
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputUpload" class="form-label">File Upload</label>
            <input type="file" class="form-control" id="exampleInputUpload" name="image" size="20">
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputfileName" class="form-label">fileName</label>
            <input type="text" class="form-control" id="exampleInputfileName" name="fileName" size="20">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputMessage" class="form-label">message</label>
            <input type="text" class="form-control" id="exampleInputMessage" name="message" size="20">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputAge" class="form-label">Age</label>
            <input type="text" class="form-control" id="exampleInputAge" name="Age" size="20">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPosition" class="form-label">position</label>
            <input type="text" class="form-control" id="exampleInputPosition" name="position" size="20">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputSalary" class="form-label">Salary</label>
            <input type="text" class="form-control" id="exampleInputSalary" name="Salary" size="5">
        </div>



         <div class="form-group col-md-6" style="padding-bottom: -300px;padding-left: -250px">
             <button type="submit" class="btn btn-primary" style="padding: 25px" >Submit</button>
         </div>

        </div>
    </form>

</section>

<br>
<br>
<section>
    <br>
    <h1 style="text-align: center;font-family: 'Book Antiqua'">List Of Employees</h1>
    <br>

    <form method="get" th:action="@{http://ems-env.eba-prmhxq3q.us-west-2.elasticbeanstalk.com/crud}">
        <label>FindByID : </label>
        <input type="text" name="keyword">
        <button type="submit" class="btn-primary">Search</button>
    </form>
    <table class="table table-bordered table-active">
        <thead>
        <tr>
             <th>ID</th><th>Name</th><th>EMAIL</th><th>City</th><th>Phone</th><th>Position</th><th>Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${Employees}">
            <td th:text="${p.getId()}"></td>
            <td th:text="${p.getName()}"></td>
            <td th:text="${p.getEmail}"></td>
            <td th:text="${p.getCity()}"></td>
            <td th:text="${p.getPhone()}"></td>
            <td th:text="${p.getPosition()}"></td>
            <td th:text="${p.getSalary()}"></td>
            <td>
                <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the record ?')"
                 th:href="@{delete(id=${p.getId()})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</section>

<br>
<br>

<footer  >
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</footer>

</body>
</html>